<section class="auth-wrapper flex-space-between">
   <div class="auth-form-wrapper">
      <h1>Check your Email</h1>
      <h4>We send reset link to your email address</h4>
      <img src="../../../assets/images/check-mail.png" alt="">
      <p>Did not receive email? Check your spam folder, or <a routerLink="/log-in">try another email address</a></p>
   </div>
   <div class="banner">
      <img class="background" src="../../../assets/images/banner.jpg" alt="banner">
      <img class="logo" src="../../../assets/icons/logo-white.svg" alt="logo">
   </div>
</section>
<progress-spinner *ngIf="spinner"></progress-spinner>