<!-- DELETE THIS COMPONENT -->

<!-- <mat-form-field>
   <input matInput type="{{ inputType }}" placeholder="{{ placeholderName }}" [formControl]="emailFormControl"
      [errorStateMatcher]="matcher">

   <mat-error
      *ngIf="inputType ==='email' && emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
   </mat-error>

   <mat-error *ngIf="inputType ==='email' && emailFormControl.hasError('required')">
      Email is <strong>required</strong>
   </mat-error>
</mat-form-field> -->