<section class="auth-wrapper flex-space-between">
   <div class="auth-form-wrapper">
      <h1>New Password</h1>
      <h4>Some subtitle goes here</h4>
      <form [formGroup]="newPasswordForm" (ngSubmit)="submitnewPasswordForm()">
         <div class="new-password-form">
            <mat-form-field>
               <input matInput type="password" formControlName="newPassword" [errorStateMatcher]="matcher"
                  placeholder="NEW PASSWORD">
               <mat-error *ngIf="f.newPassword.errors?.required && f.newPassword.touched "> Password is
                  <strong>required</strong>
               </mat-error>
            </mat-form-field>
            <mat-form-field>
               <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher"
                  placeholder="CONFIRM PASSWORD">
               <mat-error *ngIf="f.confirmPassword.errors?.required && f.confirmPassword.touched "> Password is
                  <strong>required</strong>
               </mat-error>
            </mat-form-field>
         </div>
      </form>
      <app-button btnClass="confirm" btnText="CONFIRM" type="submit"></app-button>
   </div>
   <div class="banner">
      <img class="background" src="../../../assets/images/banner.jpg" alt="banner">
      <img class="logo" src="../../../assets/icons/logo-white.svg" alt="logo">
   </div>
</section>
<progress-spinner *ngIf="spinner"></progress-spinner>