<mat-form-field class="image-loader">
    <figure>
        <label for="fileInput"><img src="../../../../assets/icons/upload.svg" alt="upload"></label>
        <img *ngFor='let preview of previews' [src]="preview">
    </figure>
    <label class="label" for="fileInput">upload your logo</label>
    <input type="file" id="fileInput" name="fileInput" accept="image/*" multiple (change)="selectFiles($event)" style="display: none;"/>
    <input matInput style="display: none;" />
    <p>Browse and choose the image for you logo by clicking on <b>plus icon</b></p>
</mat-form-field>