@import '../../../../../styles/classes.scss';

:host {
    padding: 1.6vw 1.6vw 1.6vw 1.9vw;
}

h4 {
    width: 8ch;
    height: 2em;
    letter-spacing: -0.02em;
    line-height: 1em;
    margin-bottom: 3%;
    transform: translateY(-5px);

    @media (min-width: 1440px) {
        font-size: 16px;
        font-size: clamp(16px, 1.4vw, 24px);    
    }
}

app-select {
    display: block;
    margin-bottom: 4%;
}