<section class="auth-wrapper flex-space-between">
    <div class="auth-form-wrapper">
        <h1>Forgot Password</h1>
        <h4>Some subtitle text if it is needed</h4>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm()">
            <div class="forgot-password-form">
                <mat-form-field>
                    <input 
                        matInput type="text" 
                        formControlName="email" 
                        [errorStateMatcher]="matcher"
                        placeholder="YOUR EMAIL ADDRESS">
                    <mat-error *ngIf="f.email.hasError('email') && f.email.touched">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="f.email.errors?.required && f.email.touched "> 
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <app-button btnClass="confirm" btnText="send" type="submit"></app-button>
    </div>
    <div class="banner">
        <img class="background" src="../../../assets/images/banner.jpg" alt="banner">
        <img class="logo" src="../../../assets/icons/logo-white.svg" alt="logo">
    </div>
</section>
<progress-spinner *ngIf="spinner"></progress-spinner>