<section [class.menu-open]="menuOpen" [class.menu-close]="!menuOpen">
    <div class="ham" (click)="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <ul class="links">
        <li routerLink="dashboard" #myDiv routerLinkActive="active">
            <img src="../../../../assets/icons/menu-dashboard.svg" alt="dashboard" width="34" height="auto">
            <p>dashboard</p>
        </li>
        <li routerLink="users" routerLinkActive="active">
            <img src="../../../../assets/icons/menu-users.svg" alt="users" width="30" height="auto">
            <p>users</p>
        </li>
        <li routerLink="vehicles" routerLinkActive="active">
            <img src="../../../../assets/icons/menu-vehicles.svg" alt="vehicles" width="30" height="auto">
            <p>vehicles</p>
        </li>
        <li routerLink="orders" routerLinkActive="active" id="orders">
            <img src="../../../../assets/icons/menu-orders.svg" alt="orders" width="30" height="auto">
            <p>orders</p>
        </li>
        <li routerLink="tours" routerLinkActive="active" id="tours">
            <img src="../../../../assets/icons/menu-orders.svg" alt="tours" width="30" height="auto">
            <p>tours</p>
        </li>
    </ul>
    <img class="settings" src="../../../../assets/icons/settings.svg" alt="settings" width="27" height="auto">
</section>